.compain-review
    padding: rem(81px 72px 101px)
    +md
        padding: rem(50px 40px 40px)
    +sm
        padding: rem(30px 10px)
    &__input-wrap
        display: flex
        flex-wrap: wrap
    &__input-group
        max-width: rem(623px)
        margin: rem(8px 30px)
        .input-group__input
            background-color: $white
            color: $primary
            font-weight: 400
        .input-group-prepend
            min-width: rem(216px)
            flex-shrink: 0
        