<div class="login forgot-password">
        <div class="login-wrap forgot-password__wrap">
            <div class="login-inner inner forgot-password__inner">
                <h2 class="forgot-password__title login-title text-center">
                    FORGOT PASSWORD
                </h2>
                <div class="forgot-password__content">
                    <div class="forgot-password__form login-form">
                        <form>
                            <div class="form-group forgot-password__form-group">
                                <input type="email" autocomplete="off" class="form-control login__input input-dark" placeholder="e- mail">
                            </div>
                            <div class="forgot-password__submit">
                                <button type="submit" class="btn btn-primary btn-lg btn_xxl width309">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="forgot-password__text">
                        <p>
                            “Your request to reset password has been processed. Please check your email for further instructions.”
                        </p>
                    </div>
                </div>
                <div class="login__social side-social">
                    <div class="login__social-title side-social__title">
                        Follow Me On
                    </div>
                    <div class="social side-social__list">
                        <a href="#" class="social__item side-social__item">{{ mixins.icon("youtube") }}</a>
                        <a href="#" class="social__item side-social__item">{{ mixins.icon("facebook") }}</a>
                        <a href="#" class="social__item side-social__item">{{ mixins.icon("twitter") }}</a>
                    </div>
                </div>
            </div>
            {# Start footer #}
            {% include "partials/_footer.html" %}
            {# END footer #}
        </div>
    </div>