<div class="compain-details login">
        <div class="compain-details__inner inner inner_lg login-inner">
            <div class="compain-details__body dashboard-body">
                <ul class="compain-details__nav compain-menu row no-gutters">
                    {% for item in [
                        {
                            text: "1. Channel Selection"
                        },
                        {
                            text: "2. Campaign Details",
                            active: true
                        },
                        {
                            text: "3. Audience & Budget"
                        },
                        {
                            text: "4. Review & Submit"
                        }
                    ] %}
                    <li class="compain-details__nav-item compain-menu__item col {% if item.active %}is-active{% endif %}">
                        <a href="#" class="compain-menu__link">
                            <span class="compain-menu__icon">
                                {{ mixins.icon("check") }}
                            </span>
                            <span class="compain-menu__text">
                                {{ item.text }}
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="compain-details__content">
                    <form class="compain-details__form">
                            <div class="compain-details__form-wrap">
                                <div class="compain-details__input-wrap">
                                    <div class="compain-details__row">
                                        <div class="input-group compain-details__input-group">
                                            <div class="input-group__wrap">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text compain-input-text">Campaign Title</span>
                                                </div>
                                                <input type="text" autocomplete="off" class="form-control compain-details__input is-error" aria-describedby="inputGroupPrepend3">
                                            </div>
                                            <span class="error-label">!</span>
                                            <span class="valid-label">
                                                {{ mixins.icon("check") }}
                                            </span>
                                        </div>
                                        <div class="input-group compain-details__input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text compain-input-text">Product URL</span>
                                            </div>
                                            <input type="text" autocomplete="off" class="form-control compain-details__input">
                                            <span class="error-label">!</span>
                                            <span class="valid-label">
                                                {{ mixins.icon("check") }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="compain-details__submit compain-submit">
                            <button type="button" class="btn btn-outline-primary btn_bold btn-lg btn_sm">Next {{ mixins.icon("arrow-right") }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>