<div class="login">
        <div class="compain-inner inner inner_lg login-inner">
            <div class="dashboard__btn">
                <a href="#" class="btn btn-primary width270">Create a campaign</a>
            </div>
            <div class="compain-body dashboard-body">
                    <div class="tabs">
                        <button type="button" class="tabs__current">
                            Address
                        </button>
                        <ul class="tabs__list">
                            {% for tab in [
                                {
                                    text: "General"
                                },
                                {
                                    text: "Address"
                                },
                                {
                                    text: "Profile",
                                    active: true
                                },
                                {
                                    text: "Notifications"
                                },
                                {
                                    text: "Change Password"
                                },
                                {
                                    text: "Hire History"
                                }
                            ] %}
                            <li class="tabs__item {% if tab.active %}is-active{% endif %}"><a href="#" class="tabs__link">{{ tab.text }}</a></li>
                            {% endfor %}
                        </ul>
                        <form class="tabs__content">
                            <h2 class="settings-title">Address</h2>
                            <div class="tabs__content-wrap">
                                <div class="row tabs__content-row">
                                    <div class="col-lg tabs__content-col tabs__content-col_order">
                                        <div class="input-group">
                                            <label for="email" class="input-group__label input-group__label_big">Country</label>
                                            <div class="input-group__wrap">
                                                <select class="js-select form-control compain-select" title="Country">
                                                    <option value="1">Russia</option>
                                                    <option value="2">Russia</option>
                                                    <option value="3">Russia</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-group compain-textarea compain-textarea_nm">
                                            <label for="email" class="input-group__label input-group__label_big">Country</label>
                                            {# <div class="input-group__wrap"> #}
                                                
                                                <div class="compain-textarea__field">
                                                    <textarea class="compain-textarea__text" id="textarea1" rows="9" placeholder="Campaign Details"></textarea>
                                                </div>
                                            {# </div> #}
                                        </div>
                                        <div class="tabs__content-submit">
                                                <button type="submit" class="btn btn-primary width216 btn-sm btn_rad">Save</button>
                                        </div>
                                    </div>
                                    <div class="col-lg tabs__content-col">
                                        <div class="tabs__profile-wrap">
                                            <div class="tabs__profile">
                                                <div class="tabs__img"><img src="./img/user-logo@2x.jpg" alt="img"></div>
                                                <label for="file" class="tabs__input-file">
                                                    <input type="file" id="file">
                                                    <span class="btn btn-primary width216 btn-sm btn_rad btn_blue">Upload</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>