<div class="benefits slide" style="background-image: url(./img/svgo/benefits_bg.svg)">
        <div class="slide__inner inner benefits__inner">
            <div class="benefits__content">
                <div class="benefits__text slide__text">
                    <div class="benefits__btns slide__btns">
                        <a href="#" class="btn btn-primary btn_xs width192">eSports Talent</a>
                        <a href="#" class="btn btn-outline-primary btn_xs btn-color-white width192">Brands & Agencies</a>
                    </div>
                    <div class="benefits__wrap">
                        <h2 class="benefits__title slide__title">
                            ZERO sign up fee; 10% Partner fee
                        </h2>
                        <p>
                            In exchange for working hard to bring great sponsorships and fun & easy way to get paid or rewarded while doing what you like, a tiny partner fee helps us keep supporting you, the marketplace, and our junk food habit, you keep the whole rest.
                        </p>
                    </div>
                    <ul class="benefits__list branded-list">
                        <li class="benefits__item branded-list__item"><span>{{ mixins.icon("icon") }}</span>Compete for money, free prizes, BIG discounts</li>
                        <li class="benefits__item branded-list__item"><span>{{ mixins.icon("icon") }}</span>Earn while you play for talking about brands & stuff you like to those who like you</li>
                        <li class="benefits__item branded-list__item"><span>{{ mixins.icon("icon") }}</span>Use simple tools to create & receive campaign prizes</li>
                    </ul>
                </div>
                <div class="benefits__slider benefits-slider">
                    <div class="benefits-slider__arrows">
                        <button type="button" class="benefits-slider__prev">{{ mixins.icon("arrow-left") }}</button>
                        <button type="button" class="benefits-slider__next">{{ mixins.icon("arrow-right") }}</button>
                    </div>
                    <div class="benefits-slider__wrap">
                        <div class="benefits-slider__item">
                            <img src="./img/benefits.jpg" alt="img">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>