<div class="friends slide" style="background-image: url(./img/friends-bg.png)">
    <div class="friends__inner slide__inner inner">
        <div class="friends__content">
            <div class="friends__text">
                <h2 class="friends__title">Friends width</h2>
                <h5 class="friends__advantages">
                    Get advantage from our service from our partners, friends and sponsors.
                </h5>
            </div>
            <ul class="friends__list row">
                {% for item in [
                    {logo: "Blizzard_Entertainment_Logo.svg"},
                    {logo: "Twitch_logo.svg"},
                    {logo: "Blizzard_Entertainment_Logo.svg"},
                    {logo: "ea-games.svg"},
                    {logo: "riot-games-1.svg"},
                    {logo: "ea-games.svg"},
                    {logo: "Blizzard_Entertainment_Logo.svg"},
                    {logo: "Twitch_logo.svg"},
                    {logo: "Blizzard_Entertainment_Logo.svg"}
                ] %}

                <li class="friends__item col-md-4 col-sm-4 col-6">
                    <div class="logos-wrap">
                        <img src="./img/svgo/{{item.logo}}" alt="logo">
                    </div>
                </li>
                    
                {% endfor %}
            </ul>
        </div>
    </div>
</div>