<div class="join slide" style="background-image: url(./img/Group208.png)">
    <div class="slide__inner inner join__inner">
        <div class="join__content">
            <div class="join__img slide__img">
                <img src="./img/Group445@2x.png" alt="img">
            </div>
            <div class="join__text slide__text">
                <h2 class="join__title slide__title">
                    Why join digiwad?
                </h2>
                <div class="join__wrap">
                    <h5 class="join__advantages">
                        Join for free, work with an awesome eSports athlete or personality, create something attention getting, repeat...
                    </h5>
                    <p>
                        Why use artificial intelligence when REAL is available?! digiwad combines your key metrics with smart data and the right talent to give the highest probability for a successful campaign. Just come up with a way to reward our stars and we will help you easily manage the entire process.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>