<div class="main-slider">
    <ul class="dots">
        <li class="dots__item dot active"></li>
        <li class="dots__item dot"></li>
        <li class="dots__item dot"></li>
        <li class="dots__item dot"></li>
        <li class="dots__item dot"></li>
        <li class="dots__item dot"></li>
        <li class="dots__item dot"></li>
    </ul>    
    <div class="main-slider__wrap">
        {# Start marketplace #}
        {% include "partials/home/_marketplace.html" %}
        {# END marketplace #}

        {# Start why-join #}
        {% include "partials/home/_why-join.html" %}
        {# END why-join #}

        {# Start join #}
        {% include "partials/home/_join.html" %}
        {# END join #}

        {# Start interest #}
        {% include "partials/home/_interest.html" %}
        {# END interest #}

        {# Start benefits #}
        {% include "partials/home/_benefits.html" %}
        {# END benefits #}

        {# Start friends #}
        {% include "partials/home/_friends.html" %}
        {# END friends #}

        {# Start contacts #}
        {% include "partials/home/_contacts.html" %}
        {# END contacts #}
    </div>

</div>


