<div class="marketplace slide">
    <div class="slide__inner inner marketplace__inner">
        <div class="marketplace__content">
            
            <div class="marketplace__text slide__text">
                <h2 class="marketplace__title slide__title">
                    <span>Digiwad</span> is the exclusive eSports marketplace
                </h2>
                <p>
                    We are empowering eSports athletes and personalities to get stuff from brands and sponsors for being you to those who like you!
                </p>
                <div class="marketplace__btns slide__btns">
                    <a href="#" class="btn btn-primary btn-lg btn_xl width212">INFLUENCERS</a>
                    <a href="#" class="btn btn-outline-primary btn-lg btn_xl btn-color-white width212">BRANDS</a>
                </div>
            </div>
            <div class="marketplace__img slide__img">
                <img src="./img/marketplace.jpg" alt="img">
            </div>
        </div>
    </div>
</div>