<div class="why-join slide" style="background-image: url(./img/svgo/why-join_bg.svg)">
    <div class="slide__inner inner why-join__inner">
        <div class="why-join__content">
            <h2 class="why-join__title slide__title">
                Why join digiwad?
            </h2>
            <div class="why-join__text">
                <h5 class="why-join__advantages">
                    BIG discounts, FREE gear, $$$, tournament fees, or more you could compete to win.
                </h5>
                <ul class="why-join__list branded-list">
                    <li class="why-join__item branded-list__item"><span>{{ mixins.icon("icon") }}</span>Would I accept money or cool stuff to talk about things I like?</li>
                    <li class="why-join__item branded-list__item"><span>{{ mixins.icon("icon") }}</span>Have I ever told friends about something I liked?</li>
                    <li class="why-join__item branded-list__item"><span>{{ mixins.icon("icon") }}</span>Do I have at least one social account?</li>
                    <li class="why-join__item branded-list__item"><span>{{ mixins.icon("icon") }}</span>Do I game or like games?</li>
                    <li class="why-join__item branded-list__item"><span>{{ mixins.icon("icon") }}</span>Thousands follow me?</li>
                </ul>
            </div>
            <div class="why-join__slogan text-center">
                Come take a peak and join the digiwad movement.
            </div>
        </div>
    </div>
</div>