<div class="congratulation">
    <h3 class="congratulation__title">Congratulations!</h3>
    <div class="congratulation__text">
        <p>Your account has been successfully created. You should receive an account 
                validation email shortly. Once this validation has been completed you will be 
                able to log in to your account.
                </p>
        <p>If you do not get the validation email, please contact support@digiwad.com.</p>
    </div>
    <div class="congratulation__btn">
        <a href="#" class="btn btn_popup btn_bold btn-primary">Forward to creation</a>
    </div>
    <div class="congratulation__question">
        Have not received a letter?
    </div>
    <div class="congratulation__check">
        Check your spam folder, or <a href="#">click to resend.</a>
    </div>
</div>