<div class="dashboard">
    <div class="dashboard__inner inner inner_lg">
        <div class="dashboard__btn">
            <a href="#" class="btn btn-primary width270">Create a campaign</a>
        </div>
        <div class="dashboard__body dashboard-body">
            <div class="sm-tabs">
                <div class="sm-tabs__head sm-tabs__head_solo">
                    <div class="sm-tabs__current">YouTube</div>
                    <ul class="sm-tabs__list">
                        {% for text in ['YouTube','Twitter','Instagram','Tumblr','Facebook'] %}
                        <li class="sm-tabs__item{% if loop.first %} is-active{% endif %}">
                            <a href="#" class="sm-tabs__link">{{ text }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="sm-tabs__content sm-tabs__content_solo">
                    <span class="no-content">No content</span>
                    <div class="placeholder">
                        <p>This is where all your completed content will be listed.</p>
                    </div>
                    <div class="placeholder-img">
                        <img src="./img/gamepad@2x.jpg" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>