<div class="login">
    <div class="compain-inner inner inner_lg login-inner">
        <div class="compain-body dashboard-body">
            <ul class="compain-menu row no-gutters">
                {% for item in [ { text: "1. Channel Selection" }, { text: "2. Campaign Details" }, { text: "3. Audience & Budget", active: true }, { text: "4. Review & Submit" } ] %}
                <li class="compain-menu__item col {% if item.active %}is-active{% endif %}">
                    <a href="#" class="compain-menu__link">
                        <span class="compain-menu__icon">
                            {{ mixins.icon("check") }}
                        </span>
                        <span class="compain-menu__text">
                            {{ item.text }}
                        </span>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="compain-audience">
                <form class="compain-audience__form">
                    <div class="compain-audience__form-wrap">
                        <div class="compain-audience__row row no-gutters">
                            <div class="compain-audience__col col-lg">
                                <h4 class="compain-audience__title">Target Audience</h4>
                                <div class="input-group compain-audience__input-group">
                                    <div class="input-group__wrap compain-audience__input-wrap">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text compain-input-text">Floor</span>
                                        </div>
                                        <div class="compain-audience__check-wrap">
                                            <div class="form-check compain-audience__form-check">
                                                <input name="floor" class="form-check-input compain-audience__check-input" type="checkbox" id="audience-check1">
                                                <label class="form-check-label compain-check-label compain-audience__check-label" for="audience-check1">
                                                    All
                                                    <span class="compain-check-icon">
                                                            <?xml version="1.0" encoding="UTF-8"?>
                                                            <svg width="14px" height="11px" viewBox="0 0 14 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                                <!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
                                                                <title>Group</title>
                                                                <desc>Created with Sketch.</desc>
                                                                <defs></defs>
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                                                    <g transform="translate(1.000000, 1.000000)" stroke="#979797" stroke-width="1.5">
                                                                        <polyline points="0.0601204267 5.12349333 3.37336547 8.41358327 11.760971 0.061742759"></polyline>
                                                                    </g>
                                                                </g>
                                                            </svg>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="form-check compain-audience__form-check">
                                                <input name="floor" class="form-check-input compain-audience__check-input" type="checkbox" id="audience-check2">
                                                <label class="form-check-label compain-check-label compain-audience__check-label" for="audience-check2">
                                                    Male
                                                    <span class="compain-check-icon">
                                                        <?xml version="1.0" encoding="UTF-8"?>
                                                        <svg width="14px" height="11px" viewBox="0 0 14 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                            <!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
                                                            <title>Group</title>
                                                            <desc>Created with Sketch.</desc>
                                                            <defs></defs>
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                                                <g transform="translate(1.000000, 1.000000)" stroke="#979797" stroke-width="1.5">
                                                                    <polyline points="0.0601204267 5.12349333 3.37336547 8.41358327 11.760971 0.061742759"></polyline>
                                                                </g>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="form-check compain-audience__form-check">
                                                <input name="floor" class="form-check-input compain-audience__check-input" type="checkbox" id="audience-check3">
                                                <label class="form-check-label compain-check-label compain-audience__check-label" for="audience-check3">
                                                    Female
                                                    <span class="compain-check-icon">
                                                        <?xml version="1.0" encoding="UTF-8"?>
                                                        <svg width="14px" height="11px" viewBox="0 0 14 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                            <!-- Generator: Sketch 51 (57462) - http://www.bohemiancoding.com/sketch -->
                                                            <title>Group</title>
                                                            <desc>Created with Sketch.</desc>
                                                            <defs></defs>
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                                                <g transform="translate(1.000000, 1.000000)" stroke="#979797" stroke-width="1.5">
                                                                    <polyline points="0.0601204267 5.12349333 3.37336547 8.41358327 11.760971 0.061742759"></polyline>
                                                                </g>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group compain-audience__input-group">
                                    <div class="input-group__wrap compain-audience__input-wrap compain-audience__input-wrap_radio">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text compain-input-text">Age group</span>
                                        </div>
                                        <div class="compain-audience__radio">
                                            <!-- <div class="row compain-audience__radio-row no-gutters"> -->
                                            {% for item in [ { text1: "Any Age" }, { text1: "35-44" }, { text1: "13-17" }, { text1: "45-54" }, { text1: "18-24" }, { text1: "55-64" }, { text1: "25-34" }, { text1: "65+" } ] %}
                                            <!-- <div class="col compain-audience__radio-col"> -->
                                            <div class="custom-control custom-radio compain-radio compain-audience__radio-item">
                                                <input type="radio" id="compainRadio{{ loop.index }}" name="compainRadio" class="custom-control-input compain-radio__input">
                                                <label class="custom-control-label compain-radio__label" for="compainRadio{{ loop.index }}">{{ item.text1 }}</label>
                                            </div>
                                            <!-- <div class="custom-control custom-radio compain-radio">
                                                            <input type="radio" id="compainRadio1{{ loop.index }}" name="compainRadio" class="custom-control-input compain-radio__input">
                                                            <label class="custom-control-label compain-radio__label" for="compainRadio1{{ loop.index }}">Any Age</label>
                                                        </div> -->
                                            <!-- </div> -->
                                            {% endfor %}
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="input-group compain-audience__input-group">
                                    <label for="image" class="compain-audience__label input-group__label">Countries</label>
                                    <div class="input-group__wrap">
                                        <div class="multi-field">
                                            <div class="multi-field__input" contenteditable="true" placeholder="Countries"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="compain-audience__col col-lg">
                                <div class="compain-audience__creator">
                                    <h4 class="compain-audience__title">Creator Match & Subscriber Reach</h4>
                                    <div class="compain-audience__text">
                                        how many Infiltrators fall under the criteria
                                    </div>
                                    <div class="compain-audience__text">
                                        What is the maximum size of the audience you can reach
                                    </div>
                                </div>
                                <div class="compain-audience__budget">
                                    <h4 class="compain-audience__title">Content Budget</h4>
                                    <div class="compain-audience__text">
                                        The size of the budget<span>1000$</span>
                                    </div>
                                    <div class="compain-audience__text">
                                        Audience size<span>400-500k</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="compain-audience__submit compain-submit">
                        <button type="button" class="btn btn-outline-primary btn_bold btn-lg btn_sm">Next {{ mixins.icon("arrow-right") }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>