.contacts
    +sm
        padding-bottom: 0
    &__wrap
        position: relative
        padding: rem(0 0 205px)
        display: inline-block
        vertical-align: middle
        text-align: center
        font-size: 1rem
        width: 100%
        height: 100%
        +vertical
        +sm
            padding-bottom: rem(365px)
    &__content
        display: flex
        align-items: center
        padding-right: rem(175px)
        +r(1439)
            padding-right: rem(44px)
        +sm
            flex-direction: column
            align-items: flex-start
            padding-right: 0
    &__map
        margin-left: rem(calc((100vw - 1746px)/(-2) - 30px))
        width: rem(calc(100% + 30px + (100vw - 1746px)/2))
        margin-right: rem(135px)
        +r(1439)
            margin-left: rem(-30px)
            width: rem(calc(100% + 30px))
            margin-right: rem(50px)
        +sm
            margin-right: 0
            width: 100%
            margin-left: 0
            order: 2
        img
            display: block
            max-height: calc(100vh - 550px)
            min-height: rem(400px)
            width: 100%
            object-fit: cover
            +r(1439)
                min-height: rem(300px)
    &__form
        max-width: rem(555px)
        width: 100%
        +sm
            max-width: none
            margin-bottom: rem(30px)
    &__input
        color: $gray-300
        +placeholder
            color: $gray-300
        &:focus
            color: $gray-300
    &__title
        font-family: $font-family-montserrat
        font-size: rem(45px)
        font-weight: 800
        margin-bottom: rem(50px)
        +r(1439)
            font-size: rem(34px)
            margin-bottom: rem(20px)

    &__form-group
        margin-bottom: rem(30px)
        +r(1439)
            margin-bottom: rem(15px)
        &:last-child
            margin-bottom: 0
    &__submit
        margin-top: rem(40px)
        +r(1439)
            margin-top: rem(20px)
    &__footer
        width: 100%
        .inner
            display: flex
            align-items: center
            +sm
                flex-direction: column
    &__logo
        width: rem(210px)
        margin-left: rem(-55px)
        +r(1820)
            margin-left: 0
        +r(1439)
            width: rem(150px)
            margin-left: 0
        +sm
            margin-bottom: rem(20px)
        img
            display: block
            width: 100%
    &__menu
        position: relative
        font-size: rem(20px)
        flex-basis: 84%
        font-weight: 700
        padding-left: rem(120px)
        +r(1439)
            font-size: rem(12px)
            padding-left: rem(40px)
        +sm
            padding-left: 0
            flex-basis: 100%
        &:before
            content: ""
            position: absolute
            width: rem(1px)
            background-color: $white
            top: 0
            bottom: 0
            left: rem(20px)
            +sm
                display: none
    .is-active
        &:after
            opacity: 1
            visibility: visible
            z-index: -1
    &__col
        +sm
            display: flex
            justify-content: center
    &__list
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-bottom: 0
        +sm
            flex-direction: row
    &__item
        position: relative
        text-align: left
        &:not(:last-child)
            margin-bottom: rem(25px)
            +sm
                margin-right: rem(15px)
        a
            color: $white
            text-decoration: none
        &:hover
            &:after
                opacity: 1
                visibility: visible
        &:after
            content: ""
            position: absolute
            width: 100%
            height: rem(8px)
            left: 0
            bottom: rem(1px)
            background-color: $teal
            z-index: -1
            opacity: 0
            visibility: hidden
            transition: opacity .15s, visibility .15s
            +r(1439)
                height: rem(3px)
    &__social-title
        margin-bottom: rem(25px)
        text-align: left
        +sm
            margin-bottom: rem(10px)


