.friends
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: cover
    &__content
        display: flex
        align-items: center
        justify-content: space-between
        +r(1439)
            // flex-direction: column
        +sm
            flex-direction: column
            align-items: flex-start
            justify-content: flex-start
    &__text
        max-width: 45%
        padding-left: rem(45px)
        font-size: rem(20px)
        margin-right: rem(110px)
        +r(1439)
            // padding-left: 0
            // margin-right: 0
            // text-align: center
            // margin-bottom: rem(30px)
            font-size: rem(16px)
            margin-right: rem(40px)
        +sm
            max-width: none
            width: 100%
            padding-left: 0
            margin-right: 0
            margin-bottom: rem(35px)
            font-size: rem(14px)
    &__title
        font-family: $font-family-montserrat
        font-size: rem(54px)
        font-weight: 800
        margin-bottom: rem(65px)
        +r(1439)
            font-size: rem(40px)
            margin-bottom: rem(30px)
        +sm
            font-size: (30px)
            margin-bottom: rem(20px)
    &__advantages
        color: $primary
    &__list
        display: flex
        flex-wrap: wrap
        padding-right: rem(155px)
        width: 55%
        +r(1439)
            padding-right: rem(45px)
        +sm
            width: 100%
            padding-right: 0
            margin: 0 auto
            align-items: center
    &__item
        justify-content: center
        align-items: center
        margin-bottom: rem(75px)
        +sm
            margin-bottom: rem(15px)
        &:last-child,
        &:nth-last-child(2),
        &:nth-last-child(3)
            margin-bottom: 0
        &:nth-last-child(3)
            +sm
                margin-bottom: rem(15px)
        img
            display: block
            max-width: 100%

.logos-wrap
    height: 100%
    display: flex
    align-items: center
    justify-content: center
.logos-inner
    display: inline-block
    vertical-align: middle