<div class="dashboard">
    <div class="dashboard__inner inner inner_lg">
        <div class="dashboard__btn">
            <a href="#" class="btn btn-primary width270">Create a campaign</a>
        </div>
        <div class="dashboard__body dashboard-body">
            <div class="dashboard__header dashboard-header">
                <h5 class="dashboard__title">Dashboard</h5>
            </div>
            <div class="dashboard__chat chat row no-gutters">
                <div class="chat__col col-4">
                    <ul class="chat__list">
                        {% for i in [
                            {
                                img: "ghost@2x.jpg",
                                title: "DigiBot",
                                name: "Razer",
                                message: "Do I game or like games?",
                                author: "You"
                            },
                            {
                                img: "avatar.jpg",
                                title: "Campaigns",
                                name: "Razer",
                                message: "Do I game or like games?",
                                author: "You"
                            }
                            ] %}
                        <li class="chat__contact chat-contact">
                            <div class="row chat-contact__row no-gutters">
                                <div class="chat-contact__col col-4">
                                    <div class="chat-contact__img">
                                        <img src="./img/{{ i.img }}" alt="avatar">
                                    </div>
                                </div>
                                <div class="chat-contact__col col">
                                    <div class="chat-contact__title">{{ i.title }}</div>
                                    <div class="chat-contact__name">{{ i.name }}</div>
                                    <div class="chat-contact__message">
                                        <span class="chat-contact__author">{{ i.author }}</span>
                                        : {{ i.message }}
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        <!-- <li class="chat__contact">

                        </li> -->
                    </ul>
                </div>
                <div class="chat__col col">
                    <div class="chat__top">
                        <h5 class="chat__title">Welcome to Digiwad!</h5>
                        <div class="chat__interlocutor interlocutor">
                            <div class="interlocutor__img">
                                <img src="./img/ghost@2x.jpg" alt="avatar">
                            </div>
                            <div class="interlocutor__name">
                                DigiBot
                            </div>
                        </div>
                    </div>
                    <div class="chat__body">
                        <div class="chat__message chat-message">
                            <div class="chat-message__body">
                                <p>
                                        Hey test,<br>
                                        <br>
                                        We're thrilled to have you on FameBit. First things first, this is your home page. Think of it as mission control. Once you have launched a campaign we will notify you if you have new proposals and you'll have easy access to chat with any of the content creators you have hired.
                                </p>
                                <p>
                                        Speaking of hiring content creators, it's time to <a href="#" class="chat-message__link">start a new campaign!</a>
                                </p>
                            </div>
                            <div class="chat-message__img">
                                <img src="./img/ghost@2x.jpg" alt="avatar">
                            </div>
                        </div>
                        <div class="chat__message chat-message chat-message_right">
                            <div class="chat-message__body">
                                <p>
                                        Hey test,<br>
                                        <br>
                                        We're thrilled to have you on FameBit. First things first, this is your home page. Think of it as mission control. Once you have launched a campaign we will notify you if you have new proposals and you'll have easy access to chat with any of the content creators you have hired.
                                </p>
                                <p>
                                        Speaking of hiring content creators, it's time to <a href="#" class="chat-message__link">start a new campaign!</a>
                                </p>
                            </div>
                            <div class="chat-message__img">
                                <img src="./img/ghost@2x.jpg" alt="avatar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="dialogue-block">
        <div class="dialogue-block__header">
            <div class="dialogue-block__interlocutor interlocutor">
                <div class="interlocutor__img dialogue-block__interlocutor-img">
                    <img src="./img/ghost@2x.jpg" alt="avatar">
                </div>
                <div class="interlocutor__name dialogue-block__interlocutor-name">
                    DigiBot
                </div>
                <div class="online-indicator interlocutor__indicator">
                </div>
            </div>
        </div>
        <div class="dialogue-block__body">
            <div class="dialogue-block__body-wrap">
                {% for item in [
                    {
                        img: "ghost@2x.jpg",
                        author: "Digibot",
                        time: "Yesterday 8:20 PM",
                        text: "It was delicious!",
                        inbox: true,
                        readed: true
                    },
                    {
                        img: "avatar.jpg",
                        author: "Razer",
                        time: "7:46 PM",
                        text: "I did, our whole team rubbed it allll over their",
                        inbox: false,
                        readed: true
                    },
                    {
                        img: "avatar.jpg",
                        author: "Razer",
                        time: "7:50 PM",
                        text: "I did, our whole team rubbed it allll over their bread.",
                        inbox: false,
                        readed: false
                    }
                ] %}
                    <div class="dialogue-block__message dialogue-message{% if item.inbox %} dialogue-message_inbox{% endif %}{% if item.readed %} dialogue-message_readed{% endif %}">
                        <div class="dialogue-message__row row no-gutters">
                            <div class="dialogue-message__col col-2">
                            </div>
                            <div class="dialogue-message__col col">
                                <div class="dialogue-message__details">
                                    <span class="dialogue-message__author">
                                        {{ item.author }}</span>, 
                                    <span class="dialogue-message__time">{{ item.time }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="dialogue-message__row row no-gutters">
                            <div class="dialogue-message__col col-2">
                                <div class="dialogue-message__img">
                                    <img src="./img/{{ item.img }}" alt="avatar">
                                <div class="online-indicator dialogue-message__indicator">
                                </div>
                                </div>
                            </div>
                            <div class="dialogue-message__col col">
                                <span class="dialogue-message__text">
                                    {{ item.text }}
                                    <span class="dialogue-message__check">
                                        {{ mixins.icon("check") }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="dialogue-block__footer">
            <div class="dialogue-block__row row">
                <div class="dialogue-block__col col-9">
                    <div class="form-group dialogue-block__form-group">
                        <input type="text" autocomplete="off" class="form-control dialogue-block__input" placeholder="Message Digibot">
                    </div>
                </div>
                <div class="dialogue-block__col col">
                    <div class="dialogue-block__btns">
                        <button type="submit" class="dialogue-block__submit">
                            {{ mixins.icon("send") }}
                        </button>
                        <div class="dialogue-block__divider"></div>
                        <button type="button" class="dialogue-block__smileys">
                            {{ mixins.icon("emojis") }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>