.dashboard
    color: $gray-900
    font-size: rem(17px)
    &__header
    &__title
        margin-bottom: 0
        font-size: rem(17px)
    &__inner
        padding-top: rem(153px)
        +r(1439)
            padding-top: rem(114px)
        +md
            padding: rem(114px 0 0)
        +sm
            padding: rem(100px 0 0)
    &__out
        padding: rem(40px 50px 225px 55px)
        +xl
            padding: rem(30px 25px 110px 25px)
        +md
            padding: rem(15px 15px 30px)
    &__btn
        margin-bottom: rem(50px)
        +md
            margin-left: rem(10px)
        +sm
            margin-bottom: rem(35px)
    &__switcher
        display: none
        margin-bottom: rem(15px)
    &__switch
        display: flex
        align-items: center
        background-color: transparent
        color: $gray-900
        +sm
            font-size: rem(14px)
            line-height: 1
        &:focus
            outline: none
        &:hover
            color: $primary
        .icon
            display: inline-block
            font-size: rem(15px)
            margin-right: rem(12px)
            +sm
                font-size: rem(12px)
                margin-top: rem(1px)
    &__wrapper
        display: table
        table-layout: fixed
        width: 100%
    &__wind
        padding: rem(38px 70px 70px 50px)
        vertical-align: top
        display: table-cell
    &__description
        font-size: rem(22px)
        line-height: 1.45
        &:not(:last-child)
            margin-bottom: 38px
    &__sitebar
        padding: rem(36px 70px 70px 36px) 
        border-left: 1px solid #D5D5D5 
        width: rem(453px) 
        vertical-align: top
        display: table-cell

.dashboard-body
    width: 100%
    background-color: #FCFCFC

.dashboard-header
    // height: rem(73px)
    // display: flex
    // align-items: center
    padding: rem(25px 58px)
    border-bottom: 1px solid #D5D5D5
    +xl
        padding: rem(20px 25px)
    +md
        padding: rem(15px 20px)
    +sm
        padding: rem(15px 10px)

.chat
    font-size: rem(17px)
    &__top
        height: rem(60px)
        padding: rem(0 20px)
        display: flex
        align-items: center
        justify-content: space-between
        border-left: 1px solid #D5D5D5
        border-bottom: 1px solid #D5D5D5
        +sm
            padding: rem(0 10px)
            font-size: rem(14px)
    &__body
        overflow: auto
        height: rem(695px)
        +md
            height: auto
    &__body-wrap
        border-left: 1px solid #D5D5D5
        padding: rem(40px 50px 15px)
        display: flex
        flex-direction: column
        align-items: flex-start
        +sm
            padding: rem(25px 10px 10px)
    &__title
        font-size: rem(17px)
        +sm
            font-size: rem(14px)
            margin-right: rem(10px)
    &__list
        margin-bottom: 0
    &__col
        +md
            flex-basis: 100%
            max-width: none


.chat-message
    display: flex
    margin-bottom: rem(20px)
    &_right
        align-self: flex-end
        .chat-message__body
            order: 1
            margin-left: 0
            margin-right: rem(37px)
            border-top-left-radius: rem(15px)
            border-top-right-radius: rem(20px)
            +sm
                border-radius: rem(8px)
                margin-right: rem(10px)
            &:before
                left: auto
                right: rem(-2px)
            &:after
                transform: none
                left: auto
                right: rem(-37px)
    &__body
        position: relative
        max-width: rem(745px)
        background-color: #f5f5fd
        padding: rem(34px 31px)
        border: 1px solid #D5D5D5
        border-radius: rem(15px)
        line-height: 1.4
        border-top-left-radius: rem(20px)
        margin-left: rem(37px)
        order: 2
        +sm
            font-size: rem(14px)
            padding: rem(14px 11px)
            margin-left: rem(10px)
            border-radius: rem(8px)
        &:before
            content: ""
            position: absolute
            left: rem(-2px)
            top: rem(-1px)
            width: rem(15px)
            height: rem(28px)
            background-color: #fcfcfc
            +sm
                display: none
        &:after
            content: ""
            position: absolute
            z-index: 1
            left: rem(-37px)
            transform: scale(-1,1)
            top: rem(-1px)
            width: rem(51px)
            height: rem(32px)
            background-image: url(../img/message_elem.svg)
            background-repeat: no-repeat
            background-position: 0 0
            +sm
                display: none
    &__link
        color: $blue-chat
        &:hover
            color: $blue-chat
    &__img
        width: rem(70px)
        height: rem(70px)
        border-radius: 50%
        overflow: hidden
        order: 1
        flex-shrink: 0
        +sm
            width: rem(40px)
            height: rem(40px)
        img
            display: block
            width: 100%
            object-fit: cover
            object-position: 50% 50%



.interlocutor
    display: flex
    align-items: center
    position: relative
    &__img
        width: rem(40px)
        height: rem(40px)
        border-radius: 50%
        overflow: hidden
        margin-right: rem(10px)
        img
            display: block
            width: 100%
    &__indicator
        left: rem(4px)
        top: 50%
        transform: translateY(-50%)

.chat-contact
    display: block
    border-left: 5px solid transparent
    padding: rem(20px 6px)
    font-size: rem(17px)
    border-bottom: 1px solid #D5D5D5
    color: $gray-900
    &:hover
        text-decoration: none
        color: $gray-900
    &.is-active
        border-color: $primary
        background-color: #E6E6E6
    &__col
        display: flex
        flex-direction: column
        justify-content: center
    &__img
        max-width: rem(120px)
        max-height: rem(120px)
        width: 100%
        border-radius: 50%
        overflow: hidden
        margin: 0 auto
        img
            display: block
            width: 100%
            object-fit: cover
            object-position: 50% 50%
    &__title
        color: $primary
        margin-bottom: rem(15px)
    &__name
        margin-bottom: rem(15px)
    &__message
        font-size: rem(14px)
// .dashboard-inner
.dialogue-block
    background-color: #FCFCFC
    position: fixed
    right: rem(48px)
    bottom: rem(19px)
    width: rem(430px)
    border: 1px solid #D5D5D5
    border-radius: rem(8px)
    box-shadow: 0 3px 6px rgba(#000, .16)
    z-index: 5
    +sm
        top: 0
        bottom: 0
        right: 0
        left: 0
        width: 100%
    &__header
        height: rem(46px)
        display: flex
        align-items: center
        padding: rem(0 14px)
        justify-content: space-between
        border-bottom: 1px solid #D5D5D5
    &__close
        background-color: transparent
        color: $gray-900
        &:focus
            outline: none

    &__interlocutor
        padding-left: rem(22px)
    &__interlocutor-img
        width: rem(30px)
        height: rem(30px)
    &__body
        height: rem(407px)
        padding: rem(20px 22px 35px)
        overflow: auto
        +sm
            height: calc(100vh - 111px)
            padding: rem(20px 10px 20px)
    &__body-wrap
        min-height: 100%
        display: flex
        flex-direction: column
        justify-content: flex-end
    &__footer
        height: rem(65px)
        background-color: $gray-400
        border-bottom-left-radius: rem(8px)
        border-bottom-right-radius: rem(8px)
    &__message
        max-width: rem(366px)
    &__row
        height: 100%
        align-items: center
    &__form-group
        margin-bottom: 0
    &__input
        background-color: $gray-400
        color: $gray-900
        border: none
        padding-left: rem(15px)
        &:focus
            color: $gray-900
            background-color: $gray-400
            +placeholder
                font-size: 0
    &__btns
        display: flex
        justify-content: space-between
        align-items: center
        padding-right: rem(15px)
        +sm
            padding-right: (10px)
            font-size: rem(15px)
            justify-content: space-around
        .icon
            display: block
    &__submit,
    &__smileys
        background-color: transparent
        &:focus
            outline: none
    &__divider
        width: rem(1px)
        height: rem(25px)
        background-color: $gray-900
.online-indicator
    width: rem(7px)
    height: rem(7px)
    border-radius: 50%
    background-color: $green
    // border: 4px solid #d2f9d5
    position: absolute
    &:before
        content: ""
        position: absolute
        top: rem(-4px)
        bottom: rem(-4px)
        left: rem(-4px)
        right: rem(-4px)
        background-color: rgba($green, .18)
        border-radius: 50%
.dialogue-message
    font-size: rem(16px)
    &:not(:last-child)
        margin-bottom: rem(15px)
    &__img
        margin-right: rem(18px)
        max-width: 100%
        position: relative
        img
            display: block
            width: 100%
    &__indicator
        right: 0
        bottom: rem(2px)
        position: absolute
        width: rem(9px)
        height: rem(9px)
    &__details
        font-size: rem(14px)
        color: $gray-text
        margin-bottom: rem(8px)
    &__text
        position: relative
        display: inline-block
        margin-right: rem(21px)
        line-height: 1.44
        padding: rem(13px 10px 15px 14px)
        border-radius: rem(7px)
        background-color: $gray-400
        p
            margin-bottom: 0
    &__check
        position: absolute
        bottom: 0
        right: rem(-21px)
        font-size: rem(12px)
        color: $gray-200
        .icon
            display: block
    &_inbox
        &:not(:last-child)
            margin-bottom: rem(27px)
        .dialogue-message__text
            background-color: $blue-chat
            color: $white
            padding-left: rem(25px)
    &_readed
        .dialogue-message__check
            color: $primary
.filter-select
    vertical-align: top
    display: inline-block
    &__text
        position: relative
        cursor: pointer 
        user-select: none
        padding-right: 32px 
        vertical-align: top
        display: inline-block
        &:before
            position: absolute
            content: "" 
            top: 50%
            right: 0
            margin-top: -3px
            +arr(12,6,#191919,b)