<div class="dashboard">
    <div class="dashboard__inner inner inner_lg">
        <div class="dashboard__btn">
            <a href="#" class="btn btn-primary width270">Create a campaign</a>
        </div>
        <div class="dashboard__body dashboard-body">
            <div class="messages-chat">
                <div class="messages-contacts">
                    <div class="messages-contacts__head">
                        <div class="filter-select">
                            <div class="filter-select__text">Filter by</div>
                        </div>
                    </div>
                    <div class="messages-contacts__body">
                        <div class="messages-search">
                            <input type="text" class="messages-search__input" placeholder="Find people and conversations">
                            <button type="button" class="add-new">+</button>
                        </div>
                        <ul class="contacts-list">
                            <li class="contact-item"></li>
                        </ul>
                    </div>
                </div>
                <div class="messages-dialogue">
                    <div class="messages-dialogue__head">

                    </div>
                    <div class="messages-dialogue__body">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>