<div class="login brand">
        <div class="login-wrap brand__wrap">
            <div class="login-inner inner brand__inner">
                <h2 class="brand__title login-title text-center">
                    brand
                </h2>
                <div class="brand__content">
                    <div class="brand__form login-form">
                        <div class="brand__error-text error-text text-center">
                            invalid email/password character 
                            <span>!@#$%^&*().,_-+"</span>
                        </div>
                        <form>
                            <div class="brand__row form-row">
                                <div class="brand__col col-sm-6">
                                    <div class="form-group brand__form-group is-error">
                                        <input type="text" autocomplete="off" class="form-control brand__input input-dark" placeholder="e- mail">
                                        <span class="error-label">!</span>
                                    </div>
                                </div>
                                <div class="brand__col col-sm-6">
                                    <p>
                                        The password must contain:<br>
                                        one uppercase character, one lowercase 
                                        character, one digit, and at least 8 characters.
                                    </p>
                                </div>
                            </div>
                            <div class="brand__row form-row">
                                <div class="brand__col col-sm-6">
                                    <div class="form-group brand__form-group">
                                        <input type="password" autocomplete="off" class="form-control brand__input input-dark" placeholder="password">
                                        <span class="error-label">!</span>
                                        <div class="password-complexity">
                                            <div class="password-complexity__row row no-gutters">
                                                <div class="password-complexity__col col-3">
                                                    <div class="password-complexity__item password-complexity__item_low">
                                                        low
                                                    </div>
                                                </div>
                                                <div class="password-complexity__col col-4">
                                                    <div class="password-complexity__item password-complexity__item_normal">
                                                        normal
                                                    </div>
                                                </div>
                                                <div class="password-complexity__col col">
                                                    <div class="password-complexity__item password-complexity__item_perfectly">
                                                        perfectly
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="brand__col col-sm-6">
                                    <div class="form-group brand__form-group">
                                        <input type="password" autocomplete="off" class="form-control brand__input input-dark" placeholder="repeat password">
                                        <span class="error-label">!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="brand__row form-row">
                                <div class="brand__col col-sm-6">
                                    <div class="form-check brand__form-check">
                                        <input class="form-check-input brand__check-input" type="checkbox" value="" id="check1">
                                        <label class="form-check-label brand__check-label" for="check1">
                                            I have read and agree with <a href="#">Terms of Use</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="brand__col col-sm-6">
                                    <div class="form-check brand__form-check">
                                        <input class="form-check-input brand__check-input" type="checkbox" value="" id="check2">
                                        <label class="form-check-label brand__check-label" for="check2">
                                            Subscribe me to newsletters
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="brand__submit">
                                <button type="submit" class="btn btn-primary btn-lg btn_xxl width309">SIGN UP</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% include "partials/_pop-up-congratulation.html" %}
            </div>
            {# Start footer #}
            {{footer.block(true)}}
            {# END footer #}
        </div>
    </div>