<div class="login">
        <div class="compain-inner inner inner_lg login-inner">
            <div class="dashboard__btn">
                <a href="#" class="btn btn-primary width270">Create a campaign</a>
            </div>
            <div class="compain-body dashboard-body">
                    <div class="tabs">
                        <button type="button" class="tabs__current">
                            Hire History
                        </button>
                        <ul class="tabs__list">
                            {% for tab in [
                                {
                                    text: "General"
                                },
                                {
                                    text: "Address"
                                },
                                {
                                    text: "Profile"
                                },
                                {
                                    text: "Notifications"
                                },
                                {
                                    text: "Change Password"
                                },
                                {
                                    text: "Hire History",
                                    active: true
                                }
                            ] %}
                            <li class="tabs__item {% if tab.active %}is-active{% endif %}"><a href="#" class="tabs__link">{{ tab.text }}</a></li>
                            {% endfor %}
                        </ul>
                        <form class="tabs__content">
                            <h2 class="settings-title settings-title_low">Hire History</h2>
                            <div class="tabs__content-wrap">
                                    <!-- begin sm-tabs -->
                                    <div class="sm-tabs">
                                        <div class="sm-tabs__head">
                                            <div class="sm-tabs__current">YouTube</div>
                                            <ul class="sm-tabs__list">
                                                {% for text in ['YouTube','Twitter','Instagram','Tumblr','Facebook'] %}
                                                <li class="sm-tabs__item{% if loop.first %} is-active{% endif %}">
                                                    <a href="#" class="sm-tabs__link">{{ text }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="sm-tabs__content">
                                            <span class="no-hires">No YouTube Hires Yet...</span>
                                        </div>
                                    </div>
                                    <!-- end sm-tabs -->
                            </div>
                            <div class="tabs__content-submit">
                                <button type="submit" class="btn btn-primary width216 btn-sm btn_rad">Save</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>