<div class="login">
        <div class="compain-inner inner inner_lg login-inner">
            <div class="dashboard__btn">
                <a href="#" class="btn btn-primary width270">Create a campaign</a>
            </div>
            <div class="compain-body dashboard-body">
                    <div class="tabs">
                        <button type="button" class="tabs__current">
                            Change Password
                        </button>
                        <ul class="tabs__list">
                            {% for tab in [
                                {
                                    text: "General"
                                },
                                {
                                    text: "Address"
                                },
                                {
                                    text: "Profile"
                                },
                                {
                                    text: "Notifications"
                                },
                                {
                                    text: "Change Password",
                                    active: true
                                },
                                {
                                    text: "Hire History"
                                }
                            ] %}
                            <li class="tabs__item {% if tab.active %}is-active{% endif %}"><a href="#" class="tabs__link">{{ tab.text }}</a></li>
                            {% endfor %}
                        </ul>
                        <form class="tabs__content">
                            <h2 class="settings-title">CHANGE PASSWORD</h2>
                            <div class="tabs__content-wrap">
                                <div class="row tabs__content-row">
                                    <div class="col-lg-6 tabs__content-col">
                                        <div class="input-group">
                                            <label for="nickname" class="input-group__label input-group__label_big">Current Password</label>
                                            <div class="input-group__wrap">
                                                <input type="password" autocomplete="off" id="nickname" class="form-control input-group__input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row tabs__content-row">
                                    <div class="col-lg-6 tabs__content-col">
                                        <div class="input-group">
                                            <label for="name" class="input-group__label input-group__label_big">New Password</label>
                                            <div class="input-group__wrap">
                                                <input type="password" autocomplete="off" id="name" class="form-control input-group__input">
                                                <div class="password-complexity">
                                                    <div class="password-complexity__row row no-gutters">
                                                        <div class="password-complexity__col col-3">
                                                            <div class="password-complexity__item password-complexity__item_low">
                                                                low
                                                            </div>
                                                        </div>
                                                        <div class="password-complexity__col col-4">
                                                            <div class="password-complexity__item password-complexity__item_normal">
                                                                normal
                                                            </div>
                                                        </div>
                                                        <div class="password-complexity__col col">
                                                            <div class="password-complexity__item password-complexity__item_perfectly">
                                                                perfectly
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row tabs__content-row">
                                    <div class="col-lg-6 tabs__content-col">
                                        <div class="input-group">
                                            <label for="phone" class="input-group__label input-group__label_big">Confirm Password</label>
                                            <div class="input-group__wrap">
                                                <input type="password" autocomplete="off" id="phone" class="form-control input-group__input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__content-submit">
                                    <button type="submit" class="btn btn btn-primary width216 btn-sm btn_rad">Save</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>