.icon-arrow-left {
  width: 0.62em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 0.62em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-Group235 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-youtube {
  width: 1.13em;
  height: 1em;
  fill: currentColor;
}
